@import './variables';

//Main
main,
article {
  padding: 4rem 6rem;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  h1 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
  }
}

//Flex
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Button
.btn {
  background-color: $beige;
  border-radius: 0.25rem;
  color: $white;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding: 0.5rem 0.8rem;
  transition: background-color 0.15s ease, box-shadow 0.15s ease;
  vertical-align: center;
  text-align: center;

  &:hover {
    background-color: $dark-beige;
  }

  &:focus {
    background-color: $dark-beige;
    box-shadow: 0 0 0 0.2rem rgb(157 135 123 / 50%);
  }
}

//Page transition
.page-leave-active,
.page-enter-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
