//Colors
$beige: #9d877b;
$black: #262626;
$blue: #7da0b5;
$blue-shadow: rgb(31 56 71 / 50%);
$dark-blue: #233f50;
$dark-beige: #846e62;
$dark-grey: #4d4d4d;
$dark-overlay: rgba(0, 0, 0, 0.1);
$dark-overlay2: rgba(0, 0, 0, 0.2);
$grey: #cbccce;
$light-beige: #c9bcb5;
$light-blue: #b5e4fe;
$light-grey: #f0f0f0;
$milk-red: #a4484e;
$white: #fff;

//Standard colors
$standard-blue: #2196f3;

//Shadow
$box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

// border-image: linear-gradient(to left, transparent 10%, $beige 100%) 1;
