//Colors
$beige: #9d877b;
$blue: #8babbd;
$blue-shadow: rgb(31 56 71 / 50%);
$dark-blue: #233f50;
$dark-beige: #846e62;
$dark-overlay: rgba(0, 0, 0, 0.1);
$light-blue: #b5e4fe;
$light-grey: #cbccce;
$white: #ffffff;
